*

!frontend/src
!frontend/app
!frontend/styles
!frontend/package-lock.json
!frontend/package.json
!frontend/next.config.mjs
!frontend/tsconfig.json
!frontend/tailwind.config.js
!frontend/postcss.config.js
!frontend/nginx.conf
!frontend/.env.production

!backend/cmd
!backend/internal
!backend/pkg
!backend/go.mod
!backend/go.sum
!backend/tools.go
!backend/tmp/ikigai.app*