name: iaac

on:
  push:
    branches:
      - master
  pull_request:

jobs:

  check_infra_changed_files:
    runs-on: ubuntu-latest

    outputs:
      is_infra_changed: ${{ steps.is_infra_changed.outputs.HAS_CHANGES }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v41

      - name: Set is_infra_changed
        id: is_infra_changed
        env:
          CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          has_changes=${{ contains('${{ env.CHANGED_FILES }}', 'ikigaikintore/infra') && 'true' || 'false' }}
          echo HAS_CHANGES=${has_changes} >> ${GITHUB_OUTPUT}

  summary_plan:
    runs-on: ubuntu-latest
    if: needs.check_infra_changed_files.outputs.is_infra_changed == 'true'
    needs: check_infra_changed_files

    permissions:
      contents: write
      id-token: write

    defaults:
      run:
        working-directory: ./infra

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.SERVICE_ACCOUNT_EMAIL }}

      - name: terraform init
        run: |
          terraform init

      - name: terraform plan
        run: |
          terraform plan

  iaac_apply:
    runs-on: ubuntu-latest
    needs: summary_plan

    environment: prd

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:

      - uses: actions/checkout@v4

      - name: Configure Google Cloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          version: '= 459.0.0'
          project_id: ${{ secrets.PROJECT_ID }}
