name: iaac

on:
  push:
    branches:
      - master

jobs:

  check_infra_changed_files:
    runs-on: ubuntu-latest

    outputs:
      is_infra_changed: ${{ steps.is_infra_changed.outputs.HAS_CHANGES }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v41

      - name: Set is_infra_changed
        id: is_infra_changed
        env:
          CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          has_changes=[[${${{ env.CHANGED_FILES }}[*]}=~'ikigaikintore/infra']] && echo 'true' || echo 'false')
          echo "_"${has_changes}
          echo HAS_CHANGES=${has_changes} >> ${GITHUB_OUTPUT}

  iaac:
    runs-on: ubuntu-latest
    if: ${{ needs.check_infra_changed_files.outputs.is_infra_changed }} == 'true'
    needs: check_infra_changed_files

    environment: prd

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:

      - name: checkout
        uses: actions/checkout@v4

      - name: install terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.SERVICE_ACCOUNT_EMAIL }}

      - name: Configure Google Cloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          version: '= 363.0.0'
          project_id: ${{ secrets.PROJECT_ID }}
          service_account_key: ${{ secrets.GOOGLE_CREDENTIALS }}